@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
}

.alerts-section {
  width: 40%;
  margin: 0 auto;
}

.alert-card {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(118, 116, 116, 0.12),
    0 6px 6px rgba(160, 158, 158, 0.15);
  border-radius: 5px;
}
